{% extends "base.html" %}

{% block content %}

<h1>Rent a car</h1>

<form method="post" action="/naruci">
    <input type="text" name="ime" placeholder="Unesi ime i prezime">
    <br>

    <input type="text" name="telefon" placeholder="Unesi broj telefona">
    <br>

    <select name="cars">
      <option value="volvo">Volvo</option>
      <option value="saab">Saab</option>
      <option value="fiat">Fiat</option>
      <option value="audi">Audi</option>
    </select>

    <br>

    <button type="submit">Pošalji</button>
</form>

{% endblock content %}